h1{
  color:#F8B400;
  font-family: 'Tapestry', cursive;
}
h1:hover
{
  font-size:40px;
  background-color:white;
}
body{
background-image: conic-gradient(red, #9FC088, green) , url('coa.jpg');
border-radius: 50%;
background-size: contain;
  text-align: center;
  display:flex;
  flex-direction: column;
  color:#DADBBD;
  margin:0;
}
h2{
  margin: 20px;
}
P{
  margin: 40px;
  font-family:'Merriweather', serif;
  font-weight: lighter;
  border: 5px solid #B4FF9F;
  border-radius:10px;
}
form{
  display:flex;
  flex-direction: column;
  width:50%;
  margin:auto;
}
label{
  margin:10px;
}
.number{
height:20px;
  background-color: #DDE7F2;
}
select{
margin-bottom:20px;
}
label{
  font-family:'Merriweather', serif;
}
.submit{
  cursor:pointer;
}
select{
  cursor: pointer;
}
footer{
  background-color:#1A3C40;
  color:white;
  margin-top:50px;
height:100px;
display:flex;
align-content: center;
align-items: center;
flex-direction: column;
/* position: absolute; */
}
/* nav{
  position: relative;
  height:50%;
} */
